flows.json
[{"id":"34a49cc1.645a44","type":"tab","label":"sample application","disabled":false,"info":""},{"id":"7eb6c461.4067bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4fb3da7e.8bf154","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ce2bebc2.17a908","type":"ui_group","z":"","name":"Machine Learning Model","tab":"4fb3da7e.8bf154","order":1,"disp":true,"width":"6","collapse":false},{"id":"70814f9b.11de4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#7a4e83","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#7a4e83","edited":true},"page-titlebar-backgroundColor":{"value":"#7a4e83","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#a272ab","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7a4e83","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3179861.a8fc97a","type":"inject","z":"34a49cc1.645a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nisha","payloadType":"str","x":170,"y":80,"wires":[["5cf095ea.53a79c"]]},{"id":"d0586118.e3eba","type":"debug","z":"34a49cc1.645a44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"5cf095ea.53a79c","type":"function","z":"34a49cc1.645a44","name":"","func":"msg.payload=\"I am \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["d0586118.e3eba"]]},{"id":"5abeea8.1445214","type":"ui_form","z":"7eb6c461.4067bc","name":"","label":"","group":"ce2bebc2.17a908","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Thinness 1-19","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness 5-9","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["e1480175.fcef3"]]},{"id":"e1480175.fcef3","type":"function","z":"7eb6c461.4067bc","name":"pre token","func":"//user given values as global values\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\nvar apikey=\"nwHkHzAqpn33YUDdhPIv6UMyirlAOP9Uc2zwO-rmvmVc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["a7f9f861.5c6388"]]},{"id":"a7f9f861.5c6388","type":"http request","z":"7eb6c461.4067bc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["29668193.92df3e"]]},{"id":"29668193.92df3e","type":"function","z":"7eb6c461.4067bc","name":"sendto Endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"302c29a6-090f-49aa-8dcb-a0c7a3e61865\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n \nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\n\nmsg.payload=\n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["9f8a9122.5a51e"]]},{"id":"9f8a9122.5a51e","type":"http request","z":"7eb6c461.4067bc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/302c29a6-090f-49aa-8dcb-a0c7a3e61865/deployments/c5a1f94b-468d-4958-8e47-5e05f0bf87ea/online","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":280,"wires":[["212e8179.d5c01e","d298e173.1a2cc"]]},{"id":"212e8179.d5c01e","type":"debug","z":"7eb6c461.4067bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"d298e173.1a2cc","type":"function","z":"7eb6c461.4067bc","name":"getfrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["412b94e6.cef31c","4df8353c.68096c"]]},{"id":"412b94e6.cef31c","type":"ui_text","z":"7eb6c461.4067bc","group":"ce2bebc2.17a908","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":60,"wires":[]},{"id":"4df8353c.68096c","type":"debug","z":"7eb6c461.4067bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":240,"wires":[]}]